h1{
    color:rgb(200,175,200);
    background-color: blueviolet;
    width: 250px;
    height:50.50px;
}
h2{
    background-color:green ;
    color:blue;
    width: 300px;
}
h3{
    color:blue;
    background-color:green;
    width: 300px

}
h4{

    width: 300px;
    background-color:green;
    color: blue;
}
body{
    background-color:palegreen;

    color:brown;
}

P{

    width:300px;
    background-color: aquamarine;
}